.menu-entry {
    border-bottom: 1px solid black;
}

.menu-entry-text {
    font-weight: bold;
}

#main-menu {
    position: relative;
    float: none;
    background-color: #a0a0a0;
}

.secpage {
    background-color: #a0a0a0;
    padding: 1em;
    margin: auto;
    float: center;
}

.menu-title {
    text-align: center;
    font-weight: bold;
}
